.invisible {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
